<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls da Vitória</a></h1>
        </div>
        <div>
            <p>publicado no dia 19/07/2023</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Meu primeiro texto no blog é pra mostrar que legal é aprender django!</p>
        </div>
        <div>
            <p>publicado no dia 20/07/2023</p>
            <h3><a href="">Meu segundo post</a></h3>
            <p>Mais um dia aprendendo, html é massa!</p>
        </div>
    </body>
</html>